div(class="flex p-4 gap-4 w-full h-min")
    div(class="grid items-center justify-items-center gap-2 h-min")
        i(class="material-symbols-rounded vote-btn") shift
        if (post.upvotes > 999)
            div(class="upvote-count text-md font-medium") #{Math.floor(post.upvotes/100)/10}k
        else if (post.upvotes < -999)
            div(class="upvote-count text-md font-medium") #{Math.ceil(post.upvotes/100)/10}k
        else
            div(class="upvote-count text-md font-medium") #{post.upvotes}
        i(class="material-symbols-rounded vote-btn rotate-180 -ms-1") shift
        

    div(class="grid auto-rows-min gap-4")
        div(class="grid auto-rows-min gap-3")
            div(class="flex gap-2 text-sm")
                if (post.community)
                    img(src="/uploads/"+post.community.profilepic+".png", class="w-5 h-5 rounded-full")
                    div(class="font-bold") r/#{post.community.name}
                div Posted by
                    | 
                    a(class="hover:font-semibold", href="/user/"+post.author.username) u/#{post.author.username}
                div= post.created_at.toDateString()
            div.text-2xl.font-bold= post.title
            div#post-body-readonly
            if (post.imgurl)
                img(src=post.imgurl, alt="image not found")

        div(class="flex gap-6  items-center text-sm")
            div(class="flex gap-2 items-center")
                i(class="material-symbols-rounded") comment
                if (post.commentCount > 999)
                    div #{Math.floor(post.commentCount/100)/10}k
                else if (post.commentCount < -999)
                    div #{Math.ceil(post.commentCount/100)/10}k
                else
                    div #{post.commentCount}

                div Comments
            div(class="flex gap-2 items-center")
                i(class="material-symbols-rounded") share
                | Share
            div(class="flex gap-1 items-center")
                i(class="material-symbols-rounded") bookmark
                | Save
            div(class="dropdown dropdown-top dropdown-end")
                label(tabindex="0", class="btn btn-sm btn-ghost px-2")
                    i(class="material-symbols-rounded") more_horiz
                ul(tabindex="0", class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-fit whitespace-nowrap")
                    if (post.community)
                        li(class="disabled")
                            a
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="#000000", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M11 5L6 9H2v6h4l5 4zM22 9l-6 6M16 9l6 6")
                                | Mute r/#{post.community.name}
                    li
                        a
                            i(class="material-symbols-rounded") flag
                            | Report